option_settings:
  - aws:elasticbeanstalk:application:environment:
    PORT: 3000
    ENV: prod
    region: eu-west-1
    service_endpoint: https://dynamodb.eu-west-1.amazonaws.com
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: /health
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthCheckPath
    value: /health